/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2015, 12:48:08
    Author     : andre
*/

/*
  Usage

    <button class="metal radial">✈</button>
    <button class="metal linear">2</button>
    <button class="metal linear">1</button>
    <button class="metal linear">0</button>

    <a href="http://simurai.com/lab/2011/08/21/brushed-metal/" class="metal linear oval" target="_blank">i</a>


*/

a.s3d  {
    clear: both;
    
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;
            
    -webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);
       -moz-box-shadow:0 4px 5px rgba(0,0,0,.3);
            box-shadow:0 4px 5px rgba(0,0,0,.3);
            
    display: inline-block !important;
    font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
    height: 26px;
    margin: 0 0 10px;
    padding: 0 10px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
    width: 125px; }


a.forrst {
    background: #58853e;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#58853e), to(#3c592a));
    background: -moz-linear-gradient(#58853e, #3c592a);
    background: linear-gradient(#58853e, #3c592a);
    border-top: 1px solid #99b489;
    color: rgba(22,33,16,1); }
    
a.forrst:active {
    background: #3c592a;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#3c592a), to(#58853e));
    background: -moz-linear-gradient(#3c592a, #58853e);
    background: linear-gradient(#3c592a, #58853e); }


